# Only necessary for development.
# black==19.3b0
# flake8==3.7.7

argcomplete~=3.5.3
PyYAML~=6.0.2
boto3~=1.36.1  # The ecs_takeover scenario assumes boto3 is available
requests~=2.32.3
sqlite-utils~=3.38
